{% import 'macros/_account_macros.html' as account_macros %}
{% macro report_table(review_data) %}
<table is="sortable-table">
  <thead>
    <tr>
      {% for name in review_data[0].keys() %}
      {% set data = review_data[0][name] %}
      <th data-sort="{{ 'string' if 'AccountName' in data.__class__.__name__ else 'num' }}">{{ name }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in review_data[0:review_data|length-1] %}
    <tr>
      {% for data in row.values() %}
        <td>
        {% if 'AccountName' in data.__class__.__name__ %}
          {{ account_macros.account_name(extension.ledger, data) }}
        {% else %}
          {{ data }}
        {% endif %}
        </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      {% for data in review_data[review_data|length-1].values() %}
        <td>{{ data }}</td>
      {% endfor %}
    </tr>
  </tfoot>
</table>
{% endmacro %}
<p>Income/Expenses Review</p>
{{ report_table(extension.get_income_expenses_review_by_month()) }}
